---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<!-- <p>
			Designed & Developed with <a href="https://astro.build/">Astro Framework</a>
			<Icon icon="rocket-launch" size="1.2em" />
		</p> -->
		<p>JP-Dev &copy; {currentYear}</p>
	</div>
	<p class="socials">
		<a href="#">Terms of Use</a>
		<a href="#">Privacy Policy</a>
		<a href="/sitemap-0.xml">Site Map</a>
	</p>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: auto;
		padding: 20px;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5rem;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	@media (min-width: 50em) {

		.group {
			flex-direction: row;
		}
	}
</style>
