---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
const { lang } = Astro.params;
---

<html lang={lang}>
  <head>
    <MainHead title={title} description={description} />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TTVCNCDS");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5SP1C6TZ21"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5SP1C6TZ21");
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2186475403070812"
    crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="stack backgrounds">
      <Nav />
      <div class="content-wrapper">
        <slot />
      </div>
      <Footer />
    </div>

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>

    <style>
      :root {
        --_placeholder-bg: linear-gradient(transparent, transparent);
        --bg-image-main: url("/assets/backgrounds/bg-main-light-800w.jpg");
        --bg-image-main-curves: url("/assets/backgrounds/bg-main-light.svg");
        --bg-image-subtle-1: var(--_placeholder-bg);
        --bg-image-subtle-2: var(--_placeholder-bg);
        --bg-image-footer: var(--_placeholder-bg);
        --bg-svg-blend-mode: overlay;
        --bg-blend-mode: darken;
        --bg-image-aspect-ratio: 2.25;
        --bg-scale: 1.68;
        --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
        --bg-gradient-size: calc(var(--bg-scale) * 100%);
      }

      :root.theme-dark {
        --bg-image-main: url("/assets/backgrounds/bg-main-dark-800w.jpg");
        --bg-image-main-curves: url("/assets/backgrounds/bg-main-dark.svg");
        --bg-svg-blend-mode: darken;
        --bg-blend-mode: lighten;
      }

      /* These backgrounds are displayed below the fold, so we lazy load them
			   once the `.loaded` class has been set.  */
      :root.loaded {
        --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-light-800w.jpg");
        --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-light-800w.jpg");
        --bg-image-footer: url("/assets/backgrounds/bg-footer-light-800w.jpg");
      }
      :root.loaded.theme-dark {
        --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-dark-800w.jpg");
        --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-dark-800w.jpg");
        --bg-image-footer: url("/assets/backgrounds/bg-footer-dark-800w.jpg");
      }

      .content-wrapper {
        padding-top: 100px;
      }
      @media (min-width: 50em) {
        :root {
          --bg-scale: 1;
          --bg-image-main: url("/assets/backgrounds/bg-main-light-1440w.jpg");
        }
        :root.theme-dark {
          --bg-image-main: url("/assets/backgrounds/bg-main-dark-1440w.jpg");
        }

        :root.loaded {
          --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-light-1440w.jpg");
          --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-light-1440w.jpg");
          --bg-image-footer: url("/assets/backgrounds/bg-footer-light-1440w.jpg");
        }
        :root.loaded.theme-dark {
          --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-dark-1440w.jpg");
          --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-dark-1440w.jpg");
          --bg-image-footer: url("/assets/backgrounds/bg-footer-dark-1440w.jpg");
        }

        .content-wrapper {
        padding-top: 200px;
      }
      }
      @media (forced-colors: active) {
        /* Deactivate custom backgrounds for high contrast users. */
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }
    </style>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TTVCNCDS"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
